.grid-container
{
    font-size: 30px;
    
    display: grid;
    grid-template-columns:  74% 25%;
    grid-template-rows: repeat(2, 100px);
    gap: 7px;

}

.grid-container > *
{
    
    display:flex;
    justify-content: center;
    align-items: center;
}

header, footer, nav
{
    grid-column: 1/span 3;
   
    
}

footer
{
    grid-column: 1/span 3 ;
  
}

@media all and (max-width:600px)
{
    aside,article,nav
    {
        grid-column: 1 /span 3;
        
        
        
    }
    
    
    

    .grid-container
    {
    
    grid-template-rows: repeat(1, 100px);
    

    }
}

@media all and (max-width:600px)
{
    .boxx 
    {
        visibility: hidden;
    }
    
    
}

@media all and (min-width:600px)
{
    .float 
    {
        visibility: hidden;

    }
    
    
    
}






@font-face {
    font-family: 'Metamorphous', cursive;
    src: url('fonts/Metamorphous-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }



header
{
    grid-column: 1/span3;
    background-color: black;
    border: 5px solid;
    padding: 5px;
    text-align: center;
    opacity: .9;
    color: white;
    border-radius: 10%;
    
    
}

footer
{
    grid-column: 1/span3 ;
    text-align: center;
    border: 5px solid;
    border-color: white;
    background-color:black;
    opacity: .9;
}






h1
{
    font-family: Metamorphous,cursive;
    font-size:90em,100rem;
}

h2
{
    font-family: 'Dancing Script', cursive;
    font-size:90em;
}

body
{
background-image: url(../imagenes/cocina.gif);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
}



nav
{
background-color: black;
color: white;
border: 5px solid;
padding: 5px;
text-align: center;
opacity: .9;
 

margin-top: 5px;
margin-bottom: 5px;
border-radius: 10%;
}

main
{
    
    width: 100%;
    float: left;
    height: 1300px;
    background-color: black;
    border: 5px solid;
    padding: 5px;
    text-align: center;
    opacity: .9;
    color:white;
    box-sizing: border-box;
    border-radius: 15%;
    
    
    
}

aside
{
    
  
    background-color: black;
    border: 5px solid;
    padding: 5px;
    text-align: center;
    opacity: .9;
    color: white;
    box-sizing: border-box;
    border-radius: 15%;
       
}




.contenedor1
{
    display: table;
    width: 100%;
    
    box-sizing: border-box;
}
.menuCSS3 ul {
    color: white;

    text-align: center;
    display:inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.menuCSS3 a {
    
    padding: 2em;
    
    text-decoration: none;
    color: white;
}
.menuCSS3 a:hover {
    background-color:azure;
}
.menuCSS3 ul li ul {
    display: none;
}




#h1header
{
    color: white;
    
}

.titulo
{
    text-align: center;
    font-size: 50px;
    color: white;
    text-decoration: underline;
}

.video
{
    text-align: center;
}

.parrafo-titulo
{
    text-align: center;
    color: white;
    text-decoration: underline;
}

.parrafo{
     text-align: justify;
     color: white;

}

h2{
    text-decoration: underline;
    color: white;
}

li{
    font-size: 60%;
    color: white;
}

img{
    width: 300px;
    height: 300px;
}

p{
    text-align: center;
}

.mover{
    text-align: center;
}

.float{
    
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:black;
	color: white;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  
}
.float:hover {
   
	text-decoration: none;
	color: white;
    background-color:black;
  
}

.my-float{
	margin-top:16px;
    
}

#contactoForm
{
   
   
  display: fle;

   
   border: white;
  margin: 1px;
   




}



.contctoForm.header
{
    color: white;
    font-size: 27px;
    padding: 10px;
}

.contctoForm.bigicon {
    font-size: 35px;
    color: white;
}

.container1{

    background-color: black;
}

a {
    text-decoration: none;
    color:white ;
    font-size: 18px;
    font-family: Verdana,sans-serif;
  }
  
  h1:hover {
    background-color: yellow;
  }

  h2:hover {
    background-color: wheat;
  }

  .ventana-video
  {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10%;
      border: white;
      box-sizing: border-box;
      height:70vh;
      width: 70vw;
    
  }


  .ventana-video iframe
  {
      width:60vw;
      height:60vh
  }

  .boxx
  {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }

  .boxx .img
  {
    width:10vw;
    height:10vh
   
       
  }